* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(248, 248, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
.first {
  /* "." use for class*/
  color: red;
}

#your-name {
  /*"#" use for id*/
  background-color: rgb(252, 252, 103);
  border: 5px solid rgb(139, 139, 139);
  width: 400px;
  padding: 25px;
  margin-top: 50px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: olivedrab;
}

#course-image {
  width: 400px;
}
